@model HomeViewModel

<div class="d-flex justify-content-center">
    <h1 class="text-center">Лучшие автомобили</h1>
</div>

<div class="row mx-5 my-0 mt-5 mb-2">
    @{
        foreach (Car car in Model.favCars)
        {
            @Html.Partial("AllCars",car)
        }
    }
</div>
