@{
    <div class="text-center">
        <h1 class="display-4">Privacy Policy</h1>
        <p>Learn about. Use this page to detail your site's privacy policy.</p>
    </div>
    //ViewData["Title"] = "";
}